* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  display: flex;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
}

::selection {
  background-color: black;
  color: white;
}

form input,
form textarea,
form select {
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: flex;
}

body {
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background-color: white;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Netflix';
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Netflix';
  background: black;
  letter-spacing: .2px;
  font-weight: 100;
  overflow-x: unset;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 549px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 198px;
  background: linear-gradient(180deg, #191919 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);
  top: 0;
  z-index: -50;
  left: 0;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: calc(549px - 523px);
  transform: rotate(-180deg);
  background: linear-gradient(180deg, #0a0a0a -99.29%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);
  z-index: -50;
  left: 0;
}

.header-video {
  position: absolute;
  width: 100%;
  height: 513px;
  z-index: -100;
}

.header-img {
  width: 100%;
  height: 513px;
  position: absolute;
  z-index: -80;
}

.header-logo {
  width: 55.84px;
  height: 24px;
  margin: 16px 0 0 16px;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-ul {
  align-self: center;
  margin-top: 24px;
  width: 235px;
  height: 24px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.header-li {
  font-family: 'Netflix';
  font-size: 14px;
  line-height: 24px;
}

.header-p {
  font-size: 11.2px;
  line-height: 15.3px;
  text-align: center;
  color: white;
  margin-bottom: 12px;
}

.header-div {
  width: 312px;
  height: 146px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.header-div-imgdiv {
  margin-bottom: 12px;
}

.header-div-div {
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 312px;
  height: 43px;
}

.header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 38px;
  height: 43px;
}

.header-button button {
  width: 118px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  align-items: center;
}

.header-span {
  font-weight: 600;
  font-size: 11.2px;
  line-height: 15.3px;
}

.main {
  background: black;
  width: 100%;
  height: 560px;
  margin-top: 48px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 75px;
}

.main-movies {
  height: 560px;
  width: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-movie-img-div {
  margin-top: 8px;
  width: 525px;
  display: grid;
  grid-template-columns: repeat(7, 96px);
  grid-gap: 8px;
}

.main-movie-img-div img {
  width: 96px;
  height: 144px;
  border-radius: 2px;
}

.main-movie-span {
  color: white;
  font-weight: 700;
  font-size: 17.5px;
  line-height: 23.91px;
}

.main-movies-first-div {
  overflow-x: scroll;
}

.footer {
  position: fixed;
  background: black;
  margin-top: 8px;
  width: 100%;
  height: 64px;
  bottom: 0;
}

.footer-ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 13px;
}

.footer div {
  width: 22px;
  height: 18.9px;
}

.footer-img {
  color: white;
  object-fit: cover;
}

.footer-span {
  margin-top: 3px;
  font-size: 11.2px;
  font-weight: 400;
  line-height: 15.3px;
  color: grey;
}

.footer .active {
  color: white;
}
/*# sourceMappingURL=main.css.map */